@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");
* {
  font-family: "Inter", sans-serif;
}

.error {
  border: 3px solid red;
}

input {
  outline: none;
  border: none;
  background-color: #e6f2e6;
}
